@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

// Colors
$Blue: hsl(223, 87%, 63%);
$Pale-Blue: hsl(223, 100%, 88%);
$Light-Red: hsl(354, 100%, 66%);
$Gray: hsl(0, 0%, 59%);
$White: #fff;
$Very-Dark-Blue: hsl(209, 33%, 12%);
// Fonts
$Font-size: 20px;
$Font-family-body: "Libre Franklin", sans-serif;
